<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
    <title>Enregistrement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href={{asset("css/reset.css")}}>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href={{asset("css/style.css")}}>
    <script src="main.js"></script>
</head>
<body>
<div class="login-wrapper">
        <div class="row">
            <div class="col-md-12 login-header">
                Créer un compte
            </div>
        </div>

        <div class="row">
            <div class="box-login box-shadow">
                <div class="form-signin login-form">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="button btn-left pull-left" type="submit">Enregistrer</button>
                    <a class="button btn-right pull-right" href="{{ url('login') }}">{{ 'Se connecter' }}</a>
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest' : false}) }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
